<div class="container mt-3">
  <h1 class="bg-info text-center text-white">Currency Converter</h1>
  <form [formGroup]="currencyform" (ngSubmit)="oncuurntvalu()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="from">from</label>
          <select name="countryname" id="" class="form-control" formControlName="base_code1">
            <option [value]="curreny" *ngFor="let curreny of currencyarr">
              {{curreny}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" formControlName="amount">
        </div>
        <button class="btn btn-info">Convert</button>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="from">to</label>
          <select name="" id="" class="form-control" formControlName="target_code">
            <option [value]="curreny" *ngFor="let curreny of currencyarr">
              {{curreny}}</option>
          </select>
        </div>
          <div class="form-group">
            <input type="number" class="form-control" [value]="covertcurray">
          </div>
      </div>
    </div>
    .
  </form>

</div>